modules = ["web", "php-8.2", "nodejs-20", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Laravel Server"

[[workflows.workflow]]
name = "Laravel Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-server.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35401
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["php", "-S", "0.0.0.0:8080", "-t", "public"]

[userenv]

[userenv.shared]
MGS_API_TOKEN = "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjUzMjU0NjYiLCJzdWIiOiJIQUZJWjY5NjkiLCJ0eXAiOiI0IiwicHJpdiI6IjAiLCJjdXIiOiJScy4iLCJjcmUiOiIxLjAwMDAiLCJuYmYiOjE3NjQ1Nzg5MTcsImV4cCI6MTc2NDU4MjUxNywiaWF0IjoxNzY0NTc4OTE3LCJpc3MiOiJ3ZWJleGNoYW5nZSJ9.rDGa_TAqVsD6drM6M_vZJZ0xmTla1hAgf95zo8ozK-AzmWzYW5XRZ4DLW1hyXvarH4vDgHNA6A4D5gzLpUOC6w"
